/**************************************************Body****************************************************************/
body{
    max-width: 800px;
    background-color: black;
    margin: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/**************************************************Header**************************************************************/
header{
    background-color: #FFFFFF;
    height:150px;
}

img{

}
/**************************************************Container***********************************************************/
#container{
    background-color: #FFFFFF;
    height: 100%;

}
/**************************************************Heading 1***********************************************************/
h1{
    text-align: left;
    padding-left: 50px;
}
/**************************************************Heading 2***********************************************************/
h2{
    text-align: left;
    padding-left: 50px;
}

/**************************************************Logout**************************************************************/
.logOutBox{
float: right;


}


/**************************************************Footer**************************************************************/
footer{
    background-color: #FFFFFF;

}

ul{
    width:100px;
    display: inline;

}




#tabs{
    background-color:#FFFFFF;
    width: 758px;
    height: 150px;
    padding:20px;
    text-align: left;
}

#tabs-nav{
    width: 758px;
    height: 50px;
    padding: 20px;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;

}

#tabs-nav li{
    display: inline;
}