/**************************************************Body****************************************************************/
body{
    max-width: 800px;
    background-color: black;
    margin: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/**************************************************Header**************************************************************/
header{
    background-color: #FFFFFF;
}
/**************************************************Container***********************************************************/
#container{
    background-color: #FFFFFF;
    height: 400px;
}
/**************************************************Footer**************************************************************/
footer{
    background-color: #FFFFFF;
}